@import "../../scss/styles";

.up-nav {
  border-bottom: 1px solid #e1e5ea;
}

span {
  font-family: 'Lato', sans-serif;
  font-size: medium;
  font-weight: bold;
  color: $nav-item-labels;
}

.form-control {
  font-family: 'Lato', sans-serif;
  font-size: small;
  font-weight: normal;
  color: $nav-item-labels;
  border-radius: 5px 0 0 5px;
}

input:focus {
  box-shadow: none;
}

.fkpi {
  font-family: 'Lato', sans-serif;
  font-size: medium;
  font-weight: normal;
  color: $nav-label-text;
}
