@import '../../scss/styles.scss';

.up-nav {
  border-bottom: 1px solid #e1e5ea;
}

span {
  font-family: 'Lato', sans-serif;
  font-size: medium;
  font-weight: bold;
  color: $nav-item-labels;
}



input:focus {
  box-shadow: none;
}

.fkpi {
  font-family: 'Lato', sans-serif;
  font-size: medium;
  font-weight: normal;
  color: $nav-label-text;
}
