@import "../../scss/styles.scss";

.status-btn {
  cursor: pointer;
}

.dropdown-menu {
  border-radius: 5px;
}

.dropdown-item {
  width: auto;
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;

  align-content: center;
}

.dropdown-item:hover {
  border-radius: 5px;
  background-color: $select-item-hover;
}

.dropdown-item:active {
  background-color: $select-item-hover;
}

label {
  font-family: 'Lato', sans-serif;
  font-size: medium;
  font-weight: normal;
  color: $nav-label-text;
}

