@import "../../scss/styles.scss";

.nav-left {
  background: $nav-left-bg;
}

.nav-item > div > div > label {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: small;
}
