<div class="panel panel-default" style="background: white">
  <div class="panel-body p-3">
    <div class="row justify-content-start mb-1">
      <div class="col">
        <label class="table-title">Matched providers</label>
      </div>
    </div>
    <div class="row px-3">

      <div class="table-responsive" *ngIf="mplist$ | async as mplist">
        <table class="table table-sm table-striped table-borderless table-valign-middle">
          <thead>
          <tr>
            <th class="pl-3">Type</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>ID</th>
            <th>Status</th>
            <th width="20%" class="text-center"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let mp of mplist.rows" [class.canceled]="mp.status === 4">
            <td class="align-middle">
              <div class="container">
                <div class="row justify-content-start">
                  <div class="col-md-3">
                    <img *ngIf="mp.type.split(',')[0]==='0'" src="assets/img/Contracted.svg">
                    <img *ngIf="mp.type.split(',')[0]==='1'" src="assets/img/Non%20Contracted.svg">
                  </div>
                  <div class="col-md-3">
                    <img *ngIf="mp.type.split(',')[1]==='2'" src="assets/img/IC.svg">
                    <img *ngIf="mp.type.split(',')[1]==='3'" src="assets/img/Home%20care%20agency.svg">
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle">
              {{mp.name}}
            </td>
            <td class="align-middle">
              {{mp.email}}
            </td>
            <td class="align-middle">
              {{mp.phone}}
            </td>
            <td class="align-middle">
              {{mp._ID}}
            </td>
            <td class="align-middle">
              <app-status [mp]="mp" style="min-width: 120px"></app-status>
            </td>
            <td class="text-center align-middle">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="img-wrap">
                      <img src="assets/img/Chat.svg">
                      <label class="chat-btn-txt">CHAT</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-wrap">
                      <img src="assets/img/ChatG.svg">
                      <label class="chat-btn-txt" (click)="callMatchedProvider(mp)">CALL</label>
                    </div>
                  </div>
                </div>
              </div>

            </td>
            <td class="align-middle">
              <app-rowmenu></app-rowmenu>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
