@import "../../scss/styles";

.panel {
  border-radius: 5px;
}

.table-title {
  font-family: 'Lato', sans-serif;
  font-size: large;
  font-weight: bold;
  color: $nav-label-text;
}

//table {
//  table-layout: fixed;
//}

th {
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  font-weight: 400;
  color: $table-header-text;
}

td {
  height: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  font-weight: 400;
  color: $nav-label-text;
}

tr:nth-child(odd) {background-color: $table-dark-row;}

.nametd {
  font-family: 'Lato', sans-serif;
  font-size: 11pt;
  font-weight: 700;
  color: $nav-label-text;
}

.img-wrap {
  position: relative;
  width: 60px;
}

.chat-btn-txt {
  position: absolute;
  left: 0px;
  width: 60px;
  margin-bottom: 0;
  height: 30px;
  text-align: center;
  color: white;
  font-weight: 700;
  line-height: 30px;
}

.chat-btn-txt:hover {
  background-color: rgba(0,0,0, 0.2);
  border-radius: 5px;
  cursor: pointer;
}


.status-td {
  cursor: pointer;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even) {
  background-color: $table-dark-row;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd) {
  background-color: white;
}

.table-striped>tbody>tr.canceled>td,
.table-striped>tbody>tr.canceled {
  background-color: $table-cancel-row;
}
