@import "../../scss/styles";

.panel {
  border-radius: 5px;
}

.table-title {
  font-family: 'Lato', sans-serif;
  font-size: large;
  font-weight: bold;
  color: $nav-label-text;
}

table {
  table-layout: fixed;
}

th {
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  font-weight: 400;
  color: $table-header-text;
}

td {
  height: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  font-weight: 400;
  color: $nav-label-text;
}

tr:nth-child(odd) {background-color: $table-dark-row;}

.nametd {
  font-family: 'Lato', sans-serif;
  font-size: 11pt;
  font-weight: 700;
  color: $nav-label-text;
}

.img-wrap {
  width: 60px;
}

.chat-btn-txt {
  width: 60px;
  height: 30px;
}

.chat-btn-txt:hover {
  background-color: rgba(0,0,0, 0.2);
  border-radius: 5px;
  cursor: pointer;
}


.chat-btn-txt {
  position: absolute;
  text-align: center;
  right: 18px;
  color: white;
  font-weight: 700;
  line-height: 30px;
}

.status-td {
  cursor: pointer;
}

