.filled {
  background: url("../../assets/img/Star yellow.png") no-repeat;
}

div {
  height: 20px;
  width: 21px;
  margin-right: 5px;
  background: url("../../assets/img/Star grey.png") no-repeat;
}


