/* You can add any custom style. */

a:hover {
  text-decoration: none;
}

.help-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.help-block {
  font-size: 0.8rem;
}

.help-block.help-block-error {
  font-size: 0.8rem;
  color: #ff0000;
}


/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*******/

$nav-left-bg: #264e66;
$bg: #ebeff4;
$nav-item-labels: #253843;
$nav-label-text: #45545e;
$table-dark-row: #f4f7f9;
$table-header-text: #8da2ae;
$select-item-hover: #f4f7f9;
$aqua: #3acaff;
$feedback-textareabg: #f5f9fc;
$feedback-textareaborderd: #d9e2ea;

