/* You can add any custom style. */

a:hover {
  text-decoration: none;
}

.help-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.help-block {
  font-size: 0.8rem;
}

.help-block.help-block-error {
  font-size: 0.8rem;
  color: #ff0000;
}


/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*******/



