/* You can override global SCSS variables to this file */
$nav-left-bg: #264e66;
$bg: #ebeff4;
$nav-item-labels: #253843;
$nav-label-text: #45545e;
$table-dark-row: #f4f7f9;
$table-cancel-row: #ffeff2;
$table-header-text: #8da2ae;
$select-item-hover: #f4f7f9;
$aqua: #3acaff;
$feedback-textareabg: #f5f9fc;
$feedback-textareaborderd: #d9e2ea;
