@import "../../scss/variables";

.img-wrap {
  width: 100%;
}

.chat-btn {
  width: 265px;
}

.chat-btn-txt {
  text-align: center;
  right: 1px;
  left: unset;
  width: 265px;
  line-height: 40px;
  height: 40px;
  font-size: 10pt;
  font-weight: 700;
}
