@import '../../scss/styles.scss';

.menu-btn:hover {
  cursor: pointer;
}

.menu-btn {
  width: 10px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: url("../../assets/img/kebab menu.png") no-repeat;
}

.menu-btn:hover {
  background: url("../../assets/img/kebab menu hover.png") no-repeat;
}

.dropdown-menu {
  border-radius: 5px;
}

.dropdown-item {
  width: auto;
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;

  align-content: center;
}

.dropdown-item:hover {
  border-radius: 5px;
  background: white;
}

.dropdown-item:hover > label {
  color: $aqua;
}

.modal-title {
  font-family: 'Lato', sans-serif;
  font-size: medium;
  font-weight: 700;
  color: $nav-label-text;
}


.fbtext {
  width: 100%;
  height: 120px;
  border-radius: 5px;
}

.x > span {
  font-family: 'Lato', sans-serif;
  font-size: large;
  font-weight: 700;
  color: $nav-label-text;
}

textarea {
  resize: none;
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  font-weight: 400;
  color: $table-header-text;
  background: $feedback-textareabg;
  border-color: $feedback-textareaborderd;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.img-wrap {
  width: 100%;
}


.chat-btn-txt {
  width: 100%;
  height: 100%;
}

.chat-btn-txt:hover {
  background-color: rgba(0,0,0, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.chat-btn {
  width: 265px;
}
.chat-btn-txt {
  position: absolute;
  text-align: center;
  right: 1px;
  width: 265px;
  color: white;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  font-weight: 700;
}
